@import './base.css';

:root {
  color-scheme: light;
}

html,
body,
#app {
  width: 100%;
  min-height: 100%;
}

body {
  display: block;
  background-color: var(--color-background);
}

a {
  color: inherit;
  text-decoration: none;
}
